@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #163E62;
    font-family: 'Inter';
}

.title-header{
    font-size: 2rem;
    padding: 2vh;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-top: 6vh;
}

.bidding-form{
    display: block;
}

.add-bidding-set{
    display:flex;
    align-items: center;
    gap: 3vh;
}

.bx-add-to-queue{
    font-size: 1.5rem;
    color: #fff;
}

.bx-trash{
    color: #DF0B0B;
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid transparent;
}

.add-bidding{
    display: flex;
    align-items: center;
    gap: 2vh;
    background-color: #358CDC;
    padding: 13px 25px;
    border: 2px solid transparent;
    border-radius: 7px;
    color: #ffff;
    font-size: 1.6rem;
}

.place-bidding-btn{
    margin-top: 6vh;
    border-radius: 10px;
    background-color: #358CDC;
    padding: 13px 19px;
    border: 2px solid transparent;
    font-size: 1.2rem;
    color: #ffff;

}
.btn{
    background-color: transparent;
    border: none;
    margin-left: 6vh;
}

.bidding-table{
    margin-top: 6vh;
}

.table-body tr td{
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* HOVER EFFECTS */

.add-bidding:hover{
    cursor: pointer;
}

.bx-trash:hover{
    font-size: 1.5rem;
    cursor: pointer;
    transition:.2s;
    border: 1px solid #DF0B0B;
    border-radius: 7px;
}

.place-bidding-btn:hover{
    cursor: pointer;
    border: 2px solid transparent;
    background-color: transparent;
    transition: .3s;
    color: #163E62;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


